body {
  margin: 0;
  width: 100%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.backgroundDiv {
  display: grid;
  grid-template-areas:main;
  position: relative;
}

.backgroundDiv>img {
  grid-area: auto;
  width: 100%;
}


.selectionArea {
  display: flex;
  position: relative;
  height: fit-content;
  width: fit-content;
  z-index: 3;
}

#charSelectionMenu, #charSelectionForm {
  width:inherit;
}

.clickLayer {
  display: flex;
  border: 3px solid blue;
  width: inherit;
  height: inherit;
  z-index: 2;
}

.backgroundDiv>.location1 {
  position: absolute;
  width: 1px;
  top:24%;
  left:86%;
  grid-area: auto;
  aspect-ratio: 1/1;
  border:5px solid limegreen;
  color: white;
  font-size: xx-large;
}

.location2 {
  position: relative;
  top: 1100px;
  left: 0px;
  height: 250px;
  width: 250px;
  border: 5px solid rgb(12, 247, 12);
  color: white;
  font-size: xx-large;
}

.location3 {
  position: relative;
  top: -10px;
  left: 1300px;
  height: 100px;
  width: 100px;
  border: 5px solid rgb(12, 247, 12);
  color: white;
  font-size: xx-large;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  min-height: 20px;
  max-height: fit-content;
  background-color: red;
  z-index: 4;
}

.navbarPokemon {
  height: 100px;
  width: auto;
}

.navbarPokemon:hover {
  height: 120px;
  width: auto;
}