body {
  margin: 0;
  width: 100%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backgroundDiv {
  display: flex;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  display: block;
  width: 100%;
  height: auto;
}

.backgroundDiv {
  position: absolute;
}

.backgroundDiv img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.backgroundDiv .charmander {
  position: absolute;
  top: 500px;
  left: 0px;
  right: 0px;
  width: auto;
  height: 50px;
}

.backgroundDiv .pikachu {
  position: absolute;
  top: 400px;
  left: 1250px;
  right: 0px;
  width: auto;
  height: 50px;
}

.backgroundDiv .psyduck {
  position: absolute;
  top: 800px;
  left: 1250px;
  right: 0px;
  width: auto;
  height: 50px;
}